.full-page {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    height: 100vh;
    gap:10px;

}

.sidebar {
    position: fixed;
    background-color: #252A34;
    height : 100%;
    width: 15%;
}

.main-content {
    position: absolute;
    right: 0;
    width: 84%;
    padding: 10px;
}